<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reine.imagehost.mapper.ImgMapper">
    <delete id="deleteImg">
        DELETE
        FROM "imgUrl"
        WHERE project = #{project,jdbcType=VARCHAR}
          and name = #{name,jdbcType=VARCHAR}
    </delete>
    <select id="getPath" resultType="java.lang.String">
        SELECT path
        FROM "imgUrl"
        WHERE project = #{project,jdbcType=VARCHAR}
          and name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="listImg" resultType="com.reine.imagehost.entity.Image">
        SELECT *
        FROM "imgUrl"
        <where>
            <if test="project != null and project != ''">
                and project = #{project,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryImageListByIdAndProjectAndName" resultType="com.reine.imagehost.entity.Image">
        SELECT *
        FROM "imgUrl"
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="project != null and project != ''">
                and project like '%' || #{project,jdbcType=VARCHAR} || '%'
            </if>
            <if test="name != null and name != ''">
                and name like '%' || #{name,jdbcType=VARCHAR} || '%'
            </if>
        </where>
    </select>
    <insert id="storeImg" parameterType="com.reine.imagehost.entity.Image">
        INSERT INTO "imgUrl"(path, project, name)
        VALUES (#{path,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
    </insert>
</mapper>
